@font-face {
    font-family: "Quicksand"; 
    src: url("/src/fonts/Quicksand-Regular.woff") format("woff"); 
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: "Montserrat"; 
    src: url("/src/fonts/Montserrat-Regular.woff") format("woff"); 
    font-style: normal; 
    font-weight: normal; 
}