//Типографика
@mixin fontOptions ($baseFontSize, $maxFontSize, $fontFamily, $fontWeight, $lineHeight, $letterSpacing, $textDecoration, $textTransform, $fontColor) {
    font-size: calc( #{$baseFontSize + px} + #{$maxFontSize - $baseFontSize} * (100vw - #{$tabletWidth + "px"}) / #{$desktopWidth - $tabletWidth});
    font-family: $fontFamily;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
    text-transform: $textTransform;
    text-decoration: $textDecoration;
    color: $fontColor;
@media (max-width: $tabletWidth + px) {
    font-size: $baseFontSize + px;
}

@media (min-width: $desktopWidth + px) {
    font-size: $maxFontSize + px;
}
}

//checkboxes
@mixin hideCheckbox() {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

//grids

@mixin flexGrid($f-direction, $j-content, $a-items, $f-wrap) {
    display: flex;
    flex-direction: $f-direction;
    justify-content: $j-content;
    align-items: $a-items;
    flex-wrap: $f-wrap;
}

@mixin pseudo($p-width, $p-height, $p-top, $p-right, $p-bottom, $p-left) {
    display: flex;
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 0;
    width: $p-width;
    height: $p-height;
    // background-image: $img-url;
    top: $p-top;
    right: $p-right;
    bottom: $p-bottom;
    left: $p-left;
}
$p-top: 0;
$p-right: 0;
$p-bottom: 0;
$p-left: 0;