.reg-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    border-radius: 22px;
    background: $mainLinearGradient;
    border: none;
    padding: 0px;
    font-weight: bold;
}