.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80.5vw;
    height: 70px;
    background-color: #fff;
    margin: 0 auto;
    // padding: 0px 9.8%;
}

.header__nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 461px;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
}

.header__nav-item {
    position: relative;
    min-height: 70px;
    list-style: none;
}

.header__nav-link {
    display: flex;
    align-items: center;
    min-height: 70px;
    // @include fontOptions (13, $maxFontSize, $mainFont, $fontWeight, $lineHeight, $letterSpacing, 0.5);
    @include fontOptions (13, $maxFontSize, $mainFont, $fontWeight, $lineHeight, $letterSpacing, $textTransform, $textDecoration, rgba($mainFontColor, 1));
    text-decoration: none;
    padding: 0 10px;
}

.log-in-btn--header {
    min-width: 87px;
    min-height: 34px;
    margin: 0px 0px 0px 1.4%;
    span {
        border-radius: 22px;
        min-width: 83px;
        min-height: 30px;
    }
}

.header__nav-sub-list {
    display: none;
}

.sub-menu-exist {
    .header__nav-link {
        &:after {
            display: flex;
            position: relative;
            content: "";
            width: 12px;
            height: 8px;
            padding: 0px;
            margin: 0% 0% 0% 8px;
            background-color: transparent;
            background-image: url(/assets/img/expand_more.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 0 0;
        }
    }
}