.log-in-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    // @include fontOptions (11, 12, $mainFont, 700, 15px, $letterSpacing, 1);
    @include fontOptions (11, 12, $mainFont, 700, 15px, $letterSpacing, uppercase, $textDecoration, rgba($accentPurple, 1));
    border-radius: 22px;
    padding: 0px;
    background: $mainLinearGradient;
    border: none;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
    }
}