.log-in-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    @include fontOptions (11, 12, $mainFont, 700, 15px, $letterSpacing, 1);
    color: #BC9CFF;
    text-transform: uppercase;
    border-radius: 22px;
    padding: 0px;
    background: $mainLinearGradient;
    border: none;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
    }
}