.arrow-left {
    width: 18px;
    height: 18px;
    background-image: url(/assets/img/arrow_left.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    border: none;
    background-color: transparent;
}

.arrow-left--margin {
    margin: 0px 0% 0px 7%;
}